
/* Body */


body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: normal;
}


/* H Family */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.p {
    color: #8f8f8f ;
}


/* Headings */


.big-heading {
    font-family: 'Montserrat' sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    padding-bottom: 10%;
    color: #fff;
}


.section-heading {
    font-size: 3rem;
    line-height: 1.5rem;
}


/* Containers */


#title .container-fluid {
    text-align: left;
}


/* Sections */


.colored-section {
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 15%;
}

.white-section {
    background-color: #fff;
    padding: 3% 15%;
}


/* Navagation Bar */


.navbar {
    padding: 0 0 4.5rem ;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'montserrat-light' sans-serif;
}


/* Download Buttons */


.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Section */


.feature-icons:hover {
    color: #ef8172;
}


/* Title Image */


.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features */


#features {
    background-color: #fff;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.feature-icons {
    color: #ff4c68;
    padding: 40px;
}


/* Testimonials */


.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press */


#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */


#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

.btnp {
    padding-bottom: 9%;
}

/* Call to Action */



/* Footer */


#footer {
    font-size: small;
}

.footer {
    color: #000;
    margin: 20px 10px;
}

@media (max-width: 991px) {

    .title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
